* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
}

#camera {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#ping {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    color: #ffffff;
    font-size: 8px;
    z-index: 5;
}

i {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-size: 1.5rem;
    z-index: 5;
}

#scoreboard {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    display: flex;
    align-items: center;
    z-index: 5;
}

#homeColors, #awayColors {
    display: inline-block;
    width: 30px;
    height: 25px;
    border-radius: 0px;
}
   
#homeColors {
    background: linear-gradient(to right, #FDE100 50%, black 50%);
}
    
#awayColors {
    background: linear-gradient(to right, #004B9C 50%, white 50%);
}
    
#score {
    color: #f5f5f5;
    font-weight: 600;
    margin: 0 10px;
}

.chat-box {
    position: fixed;
    width: 25%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.chat-messages {
    padding: 10px;
    color: #f5f5f5;
    overflow-wrap: break-word;
    overflow-y: auto;
}

#inputMessage {
    border: none;
    outline: none;
    padding: 10px;
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.2);
}

#inputMessage::placeholder {
    color: #f5f5f54b;
}

#gameArea {
    position: absolute;
}

#pitch, #post {
    position: relative;
    width: 1900px;
    height: 1550px;
}

#pitch {
    background-image: url('../images/pitch.png');
    z-index: 1;
}

#post {
    background-image: url('../images/post.png');
    z-index: 3;
}

.ball, .player {
    position: absolute;
    border-radius: 50%;
    transition: transform 0.5s ease;
    z-index: 2;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    background-image: url('../images/ball.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 2px #ffffff;
}

.player {
    width: 40px;
    height: 40px;
    border: solid 3px #00000050;
}

.nickname {
    position: absolute;
    padding: 1px 3px;
    font-size: 8px;
    font-weight: 600;
    top: -20px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

#joy {
    position: fixed;
    width: 130px;
    height: 130px;
    z-index: 4;
}

#kick {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    background-image: url('../images/kick.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 4;
}

@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}

#goal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 5rem;
    text-align: center;
    font-family: "Meta", sans-serif;
    color: transparent;
    z-index: 6;
}

#author {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -20%);
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    z-index: 6;
}
